*{padding: 0;
    margin: 0;
      box-sizing: border-box;
  
  }
  @font-face {
    font-family: chillax bold;
    src: url(./OTF/Chillax-Bold.otf);
  }
  @font-face {
    font-family: chillax medium;
    src: url(./OTF/Chillax-Medium.otf);
  }
  @font-face {
    font-family: chillax light;
    src: url(./OTF/Chillax-Light.otf);
  }
  body{font-family: chillax medium;}

  .NavBar{
    background-color: #2c3e50;
    display: flex;
    padding: 2% 5%;
    color: white;
    font-family: chillax bold;
  }
  .links{
    color: white;
       margin-left: auto;
      padding-top: 1%;
  }
  .links a {
    text-decoration: none;
  }
  .links a:hover {color: #1abc9c;}
  
      
  .na{
    color: white;
    margin: 0 15px;
    font-family: chillax medium;
  }

  .HERO{
    background-color: #1abc9c;
    text-align: center;
    color: white;
    padding: 30px;
   
  }
  .stra img{
    margin-top: 10px;
    width: 200px;
  }
  
  .banner{
   
    margin-bottom: 20px;
    
  }

  .herotext{
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .blue{
    margin-top:50px;
    width: 200px;
  }

  .list{
    margin: 10px 15px;
    padding: 1%;
    font-size: 15px;
    font-family: chillax light;
  }

 .portifolio{
  text-align: center;
 }
.topic{  font-family: chillax bold;}
 .ph2{
  margin-top: 40px;
  color: #2c3e50;
  font-family: chillax bold;
  margin: 35px 0px 0px 0px;
  text-align: center;
  
 }
 .bblue{
  text-align: center;
 }
 
 .bblue img{
 margin-top: 20px;
 width: 200px;
 
 }

 .pselects{
  column-count: 3;
  margin-left: auto;
  margin-right: auto;
  width: 74%;
 }
 .pselects img{
    max-width: 300px;
    border-radius: 10px; 
    margin-top: 20px;
 }
 .about {
  background-color: #1abc9c;
  margin-top: 1cmx;
  height: 70vh;
  margin-top: 50px;
  text-align: center;
  color: white;
  padding-top: 70px;
  font-family: chillax light;
}
.paragraphs{
  margin-top: 20px;
  column-count: 2;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.paragraphs p{text-align: left;}
button{padding: 20px;
       margin-top: 30px;
       background-color: #1abc9c;
       border: solid;
       color: white;
       border-radius: 10px;
       font-family: chillax medium;
      cursor: grab;}
button:hover {color: #2c3e50;}

  .ah2, .ablue {
  text-align: center;
}
.ah2{ margin-bottom: 20px;
  font-family: chillax bold; }
.contactus{
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
  height: 100vh;
}
.contactme{  font-family: chillax bold;}
.contactus input{font-family: Arial, Helvetica, sans-serif;
                margin-top: 20px;
              padding-left: 0px;
            border-top: none;
          border-left: none;
          border-right: none;
        border-bottom: 1px solid #ccc;
        width: 600px;
        margin-left: 50px;
        outline: 0px;}
.forms textarea{font-family: Arial, Helvetica, sans-serif;
border-left: none;
border-right: none;
border-top: none;
margin-top: 40px;
margin-left: 53px;
width: 600px;
padding-bottom: 80px;
border-bottom: 1px solid #ccc;
outline: opx;}
.send button{margin-right: 500px;
  font-family: Arial, Helvetica, sans-serif;}
.contactus button:hover {color: #2c3e50;}
.footer {color: white;
background-color: #2c3e50;
column-count: 3;
text-align: center;
padding-top: 60px;}
.footer img{max-width: 40px;
border: 1px solid;
padding: 10px;
border-radius: 100%;}
.icons{display: flex; justify-content: center; text-align: center;}
em{color: #1abc9c; font-family: chillax light; cursor: pointer;}
.copyright{color: white;
text-align: center;
background-color: #1a252f;
height: 10vh;
padding-top: 30px;}
